<%=form_for course do |f| %>
  <div class="columns">
    <div class="column">
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Назва курсу</label>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <%=f.text_field :course, class: 'input' %>
          <% course.errors.full_messages_for(:course).each do |message| %>
            <%= message %>
          <% end %>
        </div>
      </div>
    </div>
  </div>


  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Опис курсу</label>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <%= f.text_area :description, class: 'textarea' %>
            <% course.errors.full_messages_for(:description).each do |message| %>
            <%= message %>
          <% end %>
        </div>
      </div>
    </div>
  </div>


  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Вік початок</label>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <%= f.select :age_start, [*8..15], class: 'input' %>
        </div>
      </div>
    </div>
  </div>


  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Вік закінчення</label>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <%= f.select :age_finish, [*8..15], class: 'input' %>
        </div>
      </div>
    </div>
  </div>


  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Кількість занять</label>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <%= f.select :number_classes, [*10..100], class: 'input' %>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Вартість</label>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <%= f.select :price, (1000..10000).step(100).to_a, class: 'input' %>
        </div>
      </div>
    </div>
  </div>


  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Статус</label>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <%= f.select :active, [true, false], class: 'input' %>
        </div>
      </div>
    </div>
  </div>
      <div class="field is-horizontal">
        <div class="field is-normal">
          <%=f.submit %>
        </div>
      </div>

<div class="link px-6">
<%= link_to "Домашня сторінка", root_path %>
</div>

<%end %>
</div>

</div>