<h1 class="title has-text-centered">Наші курси</h1>

<div class="table-container px-6">
  <table class="table">
    <!-- Your table content -->
    <thead>
    <tr>
      <th><abbr title="Number">№ з.п.</abbr></th>
      <th><abbr title="Course_name">Назва</abbr></th>
      <th><abbr title="Active">Активний</abbr></th>
      <th><abbr title="Edit">Змінити</abbr></th>
      <th><abbr title="Activation">Активувати/Деактивувати</abbr></th>
    </tr>
    </thead>
    <% @courses.each_with_index do | course, index| %>
      <tr>
        <th><%= index+1 %></th>
        <th> <%= link_to course.course, course %></th>
        <th><%= active_str (course) %></th>
        <th><button class="button is-dark"><%= link_to "Змінити", edit_course_path(course) %></button></th>
        <th>
         <%= form_for course do |f| %>
          <%= f.hidden_field :active, value: !course.active %>
            <%= hidden_field_tag :redirect, :index %>
            <%= f.submit button_active(course), class: 'button'%>
            <% end %>
        </th>
      </tr>
    <% end %>
  </table>
</div>

<div class="buttons px-6">

  <button class="button is-primary is-medium is-rounded"><%= link_to "Додати курс", new_course_path %></button>

</div>
