<h1 class="title has-text-centered">
  <%= @course.course %>
</h1>
<div class="px-6">
<p class="textarea">
  <%= @course.description %>
</p>
<p>
  <b>Початковий вік - </b><%= @course.age_start %>
</p>
<p>
  <b>Кінцевий вік - </b><%= @course.age_finish %>
</p>
<p>
  <b>Кількість занять - </b><%= @course.number_classes %>
</p>
<p>
  <b>Ціна - </b><%= @course.price %>
</p>
<p>
  <b>Активний - </b>
  <%= active_str(@course) %>
</p>
<br/>
  <div class="buttons">
    <button class="button is-warning is-medium is-rounded"><%= link_to "Змінити", edit_course_path(@course) %></button>
  </div>
  <div class="buttons">
    <button class="button is-danger is-medium is-rounded"><%= link_to "Видалити", course_path(@course), method: :delete, data: {confirm: "A you sure?"} %></button>
  </div>



  <div class="buttons">
    <button class="button is-primary is-medium is-rounded"><%= link_to "Домашня сторінка", root_path %></button>
  </div>
</div>

